<div class="row">
	<div class="col-md-4 d-flex">
		<a href="/voice-reader-studio/campaigns" class="float-right d-inline-flex share text-dark" style="text-decoration: none">
			<div class="card dashboard-card">
				<div class="inner">
					<img class="card-img-top" src="/assets/dashboard-editor" width="100%" height="270" alt="Studio">
				</div>
				<div class="card-body flex-fill">
					<span class="card-title heading-semibold">Manage Campaigns</span>
					<p class="card-text">Create new campaigns that you want to share with your audience.</p>
				</div>
			</div> 
		</a> 
	</div>
				
	<div class="col-md-4 d-flex" style='<%= !current_user.access_code.present? ? "opacity: 0.5;" : ""  %>'>
		<a href="/voice-reader-studio/articles" class="float-right d-inline-flex share text-dark" style="text-decoration: none">
			<div class="card dashboard-card">
				<div class="inner">
					<img class="card-img-top" src="/assets/dashboard-articles.jpg" width="100%" height="270" alt="Voice Devices">
				</div>
				<div class="card-body flex-fill">
					<span class="card-title heading-semibold">Manage Articles</span>
					<!-- <p class="card-text">Get details of the skill and assist your audience to listen to your campaigns</p> -->
					<% if current_user.access_code.present? %>
						<p class="card-text">Create new articles that you want to share with your audience.</p>
					<% else %>
						<p class="card-text text-black">You need to create a campaign first!</p>
					<% end %>
				</div>
			</div>
		</a>
	</div>
	<div class="col-md-4 d-flex" style='<%= !current_user.access_code.present? ? "opacity: 0.5;" : ""  %>'>
			
		<a href="/voice-chimp-skill/details" class="float-right d-inline-flex share text-dark" style="text-decoration: none">
			<div class="card dashboard-card">
				<div class="inner">
					<img class="card-img-top" src="/assets/dasboard-echo-dot.png" width="100%" height="270" alt="Graphs">
				</div>
				<div class="card-body flex-fill">
					<span class="card-title heading-semibold">Manage Skill</span>
					<% if current_user.access_code.present? %>
						<p class="card-text">Get details of the skill and assist your audience to listen to your campaigns.</p>
					<% else %>
						<p class="card-text text-black">You need to create a campaign first</p>
					<% end %>
					
				</div>
			</div>
		</a>
	</div>
</div>