   <div class="row">
      <div class="col-md-4">
         <!-- <div class="card">
            <img class="card-img-top" src="/assets/dashboard-editor" height="270" alt="Studio">
            <div class="card-body">
               <h5 class="card-title" style="font-family: Laila-Bold !important; font-weight:bold !important; font-size:26px !important;">Voice Chimp Studio <a href="/access_codes" class="float-right d-inline-flex share"><i class="fas fa-share-alt text-primary"></i></a></h5>
               <p class="card-text">Create new campaigns/articles that you want to share with your audiance.</p> -->
               <!-- <a href="#" class="float-right">Read more <i class="fas fa-angle-double-right"></i></a> -->
            <!-- </div>
         </div> -->
          <!-- <div class="flip-card">
            <div class="flip-card-inner">
               <div class="flip-card-front">
                  <img class="card-img-top" src="/assets/dashboard-editor.jpg" height="100%" alt="Studio">
               </div>
               <div class="flip-card-back" onclick="location.href='/voice-chimp-studio/campaign'" style="cursor:pointer;">
                  <h5 class="card-title pt-3" style="font-family: Laila-Bold !important; font-weight:bold !important; font-size:26px !important;">Voice Chimp Studio </h5>
                  <p class="card-text p-1">Create new campaigns/articles that you want to share with your audiance.</p>
                  <p style="font-family: Laila-Bold !important; font-weight:bold !important;padding:3px!important;"><button class="btn btn-lg btn-outline-light text-center p-1">Enter</button>
               </div>
            </div>
            <h5 class="card-title pt-3 text-center" style="font-family: Laila-Bold !important; font-weight:bold !important; font-size:26px !important;">Voice Chimp Studio </h5>
         </div> -->
         <div class="studio-card">
               <img class="card-img-top studio-img" src="/assets/dashboard-editor" height="270" alt="Studio">
               <p class="card-text p-1" style="display:none;" onclick="location.href='/voice-chimp-studio/campaign'" style="cursor:pointer; background-color:greem;">Create new campaigns/articles that you want to share with your audiance.</p>
         </div>
                     <h5 class="card-title pt-3" style="font-family: Laila-Bold !important; font-weight:bold !important; font-size:26px !important;">Voice Chimp Studio </h5>

      </div>
      <div class="col-md-4">
         <!-- <div class="card">
            <img class="card-img-top" src="/assets/dasboard-echo-dot.png" height="270" alt="Voice Devices">
            <div class="card-body">
               <h5 class="card-title" style="font-family: Laila-Bold !important; font-weight:bold !important; font-size:26px !important;">Voice Chimp Skill <a href="/vcs/skill_details" class="float-right d-inline-flex share"><i class="fas fa-share-alt text-primary"></i></a></h5>
               <p class="card-text">Get the access details of the skill and assist your audiance to listen to your campaigns</p> -->
               <!-- <a href="#" class="btn btn-sm btn-info float-right">Read more <i class="fas fa-angle-double-right"></i></a> -->
            <!-- </div>
         </div> -->
         <div class="flip-card">
            <div class="flip-card-inner">
               <div class="flip-card-front">
                  <img class="card-img-top" src="/assets/dasboard-echo-dot.png" height="100%" alt="Studio">
               </div>
               <div class="flip-card-back" onclick="location.href='/voice-chimp-skill/details'" style="cursor:pointer;">
                  <h5 class="card-title pt-3" style="font-family: Laila-Bold !important; font-weight:bold !important; font-size:26px !important;">Voice Chimp Skill </h5>
                  <p class="card-text p-1">Get the access details of the skill and assist your audiance to listen to your campaigns</p>
                  <p style="font-family: Laila-Bold !important; font-weight:bold !important;padding:3px!important;"><button class="btn btn-lg btn-outline-light text-center p-1">Enter</button>
               </div>
            </div>
            <h5 class="card-title pt-3 text-center" style="font-family: Laila-Bold !important; font-weight:bold !important; font-size:26px !important;">Voice Chimp Skill </h5>
         </div>
      </div>
      <div class="col-md-4">
         <!-- <div class="card bg-light" style="background-color: gray; opacity: .4;"> -->
            <!-- <div class="card bg-light">
            <img class="card-img-top" src="/assets/dashboard-graphs" height="270" alt="Graphs">
            <div class="card-body">
               <h5 class="card-title" style="font-family: Laila-Bold !important; font-weight:bold !important; font-size:26px !important;">Analytics <a href="#" class="float-right d-inline-flex share"><i class="fas fa-share-alt text-primary"></i></a></h5>
               <p class="card-text">Get track of your voice audiance and identify how are they getting into your campaigns by voice</p> -->
               <!-- <a href="#" class="btn btn-sm btn-info float-right">Read more <i class="fas fa-angle-double-right"></i></a> -->
            <!-- </div>
         </div> -->
         <div class="flip-card">
            <div class="flip-card-inner">
               <div class="flip-card-front">
                  <img class="card-img-top" src="/assets/dashboard-graphs.jpg" height="100%" alt="Studio">
               </div>
               <div class="flip-card-back" style="background-color: gray;">
                  <h5 class="card-title pt-3" style="font-family: Laila-Bold !important; font-weight:bold !important; font-size:26px !important;">Analytics </h5>
                  <p class="card-text p-1">Get track of your voice audiance and identify how are they getting into your campaigns by voice</p>
                  <p class="card-text p-1">Coming Soon...</p>
               </div>
            </div>
            <h5 class="card-title pt-3 text-center" style="font-family: Laila-Bold !important; font-weight:bold !important; font-size:26px !important;">Analytics </h5>
         </div>
      </div>
   </div>