<div class="row" style="height:60px"></div>  

<div class="container">
   <div class="row">
      <div class="col-md-4">
         <div class="card">
            <img class="card-img-top" src="/assets/dashboard-editor" height="270" alt="Studio">
            <div class="card-body">
               <h5 class="card-title" style="font-family: Laila-Bold !important; font-weight:bold !important; font-size:26px !important;">Voice Chimp Studio <a href="/access_codes" class="float-right d-inline-flex share"><i class="fas fa-share-alt text-primary"></i></a></h5>
               <p class="card-text">Create new campaigns/articles that you want to share with your audiance.</p>
               <!-- <a href="#" class="float-right">Read more <i class="fas fa-angle-double-right"></i></a> -->
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <div class="card">
            <img class="card-img-top" src="/assets/amazon-echo-dot.png" height="270" alt="Voice Devices">
            <div class="card-body">
               <h5 class="card-title" style="font-family: Laila-Bold !important; font-weight:bold !important; font-size:26px !important;">Voice Chimp Skill <a href="/vcs/skill_details" class="float-right d-inline-flex share"><i class="fas fa-share-alt text-primary"></i></a></h5>
               <p class="card-text">Get the access details of the skill and assist your audiance to listen to your campaigns</p>
               <!-- <a href="#" class="btn btn-sm btn-info float-right">Read more <i class="fas fa-angle-double-right"></i></a> -->
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <div class="card bg-light" style="background-color: gray; opacity: .4;">
            <img class="card-img-top" src="/assets/dashboard-graphs" height="270" alt="Graphs">
            <div class="card-body">
               <h5 class="card-title" style="font-family: Laila-Bold !important; font-weight:bold !important; font-size:26px !important;">Analytics <a href="#" class="float-right d-inline-flex share"><i class="fas fa-share-alt text-primary"></i></a></h5>
               <p class="card-text">Get track of your voice audiance and identify how are they getting into your campaigns by voice</p>
               <!-- <a href="#" class="btn btn-sm btn-info float-right">Read more <i class="fas fa-angle-double-right"></i></a> -->
            </div>
         </div>
      </div>
   </div>
</div>
