<main class="login-form">
	<div class="cotainer">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<div class="card">
					<div class="card-header text-black card-heading"><i class="fas fa-user"></i> Signup Instructions</div>
					<div class="card-body">

						<div class="container text-center" style="padding:10px!important;">
							<img src="/assets/img-tick.png" width="120" height="120" alt="Success">
							<br/>
							<h2>You have signed up successfully!</h2>
	
						</div>
						<div class="container pt-3 text-center" style="padding:30px!important;">

							<br/>
							<h5>We have emailed you a confirmation link. Click the link to finish registration.</h5>
							<h5>Make sure to check your spam box in case it got filtered.</h5>
							<br/>
							<div class="row" style="padding:30px!important;">
								Did not received confirmation email? <a href="/verification/new" style="padding:0 12px 0 3px;text-decoration:none;"> Resend </a>
							</div>

						</div>
					</div>
                
				</div>
			</div>
		</div>
	</div>

</main>