<div class="container">
<div class="row">

<div class="col-md-12">
<div class="card">
  <div class="card-header" style="color:#FFF; font-weight:bold;">Some Basic Definitions</div>
  <div class="card-body">
    <div id="section-1">
      <p style="font-weight:bold;'">1. What is Voice Chimp?</p>
      <p>Voice Chimp is the alexa skill that all your users will use to access your content on their voice-first devices. </p>
    </div>
    <div id="section-2">
    <p style="font-weight:bold;'">2. What is a Campaign? </p>
    <p>A Campaign consists of one more articles.</p>

    <p style="font-weight:bold;'">3. What is a Listener Group Access Code? </p>
    <p>Each user group is assigned a unique "Listener Group Access Code" (a unique 4 digit code) by the system. Each user of a group must provide (speak) this access code when they invoke the "Voice Chimp" Alexa skill the first time.</p>

    <p style="font-weight:bold;'">4. What is a Listener Access Group Name? </p>
    <p>A unique name that must be given to the group when you create a new one. </p>
    
    <p style="font-weight:bold;'">5. What should be the name of the Listener Group? </p>
    <p>This name identifies the type of group you are creating. For example if you have a newsletter or email campaign that you send out to your subscribers and want to offer the same content to your subscribers on their voice-first devices also (like Alexa) then you can name the group "Mom's Voice Newsletter" or "Emerging Tech Voice Campaign" or anything you like. </p>
    </div>

    <div id="section-3">
      <p style="font-weight:bold;'">6. What is content and how do I create it? </p>
      <p>Content is mostly text (but can be audio recording also*) that you want to share with your users but instead of reading the text they will hear it via an Alexa skill. For example your content could be an newsletter or a campaign or a notification or a blog article that your users subscribe via email. In that case you can create the same (or different) content in "Voice Chimp Studio"</p>
    </div>
    
  </div>
</div>
</div>
</div>
</div>