<footer class="footer fixed-bottom py-2 bg-light text-center" style="color:#61318f;">
    <p>&copy; <script>document.write(new Date().getFullYear())</script> <a style="color:#61318f;cursor:pointer;text-decoration:none;font-size:18px !important;" href="https://www.launchvoicefirst.com"> LaunchVoiceFirst.com </a></p>
</footer>