<footer class="footer fixed-bottom py-0 bg-light text-center" style="color:#61318f;padding-top:20px !important;">
    <p>
    <!-- &copy; <script>document.write(new Date().getFullYear())</script> -->
    <!-- <a style="color:#61318f;cursor:pointer;text-decoration:none;font-size:18px !important;" href="https://www.launchvoicefirst.com"> LaunchVoiceFirst.com </a> -->
    <span>Voice Chimp service offered by <a style="color:#61318f;cursor:pointer;text-decoration:none;font-size:18px !important;" href="https://www.launchvoicefirst.com"> LaunchVoiceFirst.com </a></span>
    &copy; <script>document.write(new Date().getFullYear())</script> 
    </p>
</footer>