<footer class="footer fixed-bottom px-3 py-0 text-center" style="background-color: #1DA1F2; color:#FFF;padding-top:10px !important; font-size:16px;">
    <!-- &copy; <script>document.write(new Date().getFullYear())</script> -->
    <!-- <a style="color:#61318f;cursor:pointer;text-decoration:none;font-size:18px !important;" href="https://www.launchvoicereader.com"> LaunchVoiceReader.com </a> -->

	<div class="mx-auto" style="vertical-align: middle; text-align:center; padding-bottom:15px !important;">
      <strong>Copyright &copy; <script>document.write(new Date().getFullYear())</script> Launch Voice Reader</strong>
	</div>
</footer>