<footer class="footer fixed-bottom px-3 py-0 bg-light text-center" style="color:#61318f;padding-top:12px !important; font-size:14px;">
    <!-- &copy; <script>document.write(new Date().getFullYear())</script> -->
    <!-- <a style="color:#61318f;cursor:pointer;text-decoration:none;font-size:18px !important;" href="https://www.launchvoicefirst.com"> LaunchVoiceFirst.com </a> -->
    <table class="table-borderless">
    <tr>
    <td width="300px" class=" text-left" style="padding-bottom:15px !important;">Privacy</td>
    <td width="600px" style="text-align:center; padding-bottom:15px !important;"><strong>Voice Reader</strong> service offered by <a style="color:#61318f;cursor:pointer;text-decoration:none;" href="https://www.launchvoicefirst.com"> <strong>Launch Voice First</strong></a>
    &copy; <script>document.write(new Date().getFullYear())</script> </td>
    <td width="400px" class="text-right" style="text-align:center; padding-bottom:15px !important;">Terms and Conditions</td>
    </tr>
    </table>
</footer>