<nav class="navbar navbar-expand-lg navbar-light navbar-laravel px-5">
        <% unless user_signed_in? %>
            <a class="navbar-brand js-scroll-trigger" href="/auth/login">
                <!-- <img class="logo-navbar" src="/assets/vcs.png"> --> <span class='text-white h4' style="font-family: Raleway !important;"> Voice Chimp Studio </span> 
            </a>
        <% else %>
            <a class="navbar-brand js-scroll-trigger" href="/access_codes">
                <!-- <img class="logo-navbar" src="/assets/vcs.png"> --> <span class='text-white h4' style="font-family: Raleway !important; font-weight:bold;"> Voice Chimp Studio </span> 
            </a>
        <% end %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <% unless user_signed_in? %>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/auth/login">Login</a>
                </li>
                <li class="nav-item">
                    <!-- <a class="nav-link text-white" href="/auth/register/signup">Register</a> -->
                    <!-- <a class="nav-link text-white" href="http://eepurl.com/gO8n65">Register</a> -->
                    <a class="nav-link text-white" href="https://launchvoicefirst.com/" data-toggle="tooltip" title=" Click to learn more and signup for an invite">Signup (<span style="font-style: italic;font-size:13px;">for Early Access</span>)</a>
                </li>
                <% else %>
                    <li class="nav-item h6">
                        <span class="nav-link text-white pt-3"> Welcome <%= current_user.username %> (<%= current_user.role %>) </span>
                    </li>
                    <li class="nav-item h6">
                        <a class="nav-link text-white pt-3" href="/access_codes">Campaigns</a>
                    </li>
                    <li class="nav-item h6">
                        <a class="nav-link text-white pt-3" href="/speeches">Articles</a>
                    </li>
                    <li class="nav-item h6">
                        <a class="nav-link text-white pt-3" href="/auth/logout">Logout</a>
                    </li>
                <% end %>
            </ul>

        </div>
</nav>