<main class="login-form">
	<div class="cotainer">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<div class="card">
					<div class="card-header text-black card-heading"><i class="fas fa-user"></i> Password Reset  Instructions</div>
					<div class="card-body">

						<div class="container text-center" style="padding:0px!important;">
							<img src="/assets/img-tick.png" width="120" height="120" alt="Success">
							<br/>
							<h2>Password reset request sent successfully!</h2>
	
						</div>
						<div class="container pt-3 text-left" style="padding:10px!important;">

							<br/>
							<h5>We have emailed you a password reset link. Click the link to reset your password.If you do not receive the password reset message within a few moments, please check your spam folder in case it got filtered. If you still not received the reset password? Re-Send</h5>
							<br/>
							<!-- <div class="row">
								Not received confirmation email? <a href="/auth/verification/new" style="padding:0 12px 0 3px;text-decoration:none;"> Re-Send </a>
							</div> -->

						</div>
					</div>
                
				</div>
			</div>
		</div>
	</div>

</main>