<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @speech.code %>
</p>

<!-- <p>
  <strong>Email address:</strong>
  <%#= @speech.email_address %>
</p> -->

<p>
  <strong>Content:</strong>
  <%= @speech.content %>
</p>

<%#= link_to 'Edit', edit_speech_path(@speech) %> |
<%#= link_to 'Back', speeches_path %>
