/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap";
 @import "toastr";
 @import "font-awesome-sprockets";
 @import "font-awesome";
 
 /* add custom stylesheets here*/
@import "login";
@import "speeches";
@import "dashboard";


// @font-face {
//      FontAwesome';
//     src: url(font-path('fontawesome-webfont.eot'));
//     src: url(font-path('fontawesome-webfont.eot?#iefix')) format('embedded-opentype'),
//            url(font-path('fontawesome-webfont.woff')) format('woff'),
//            url(font-path('fontawesome-webfont.ttf')) format('truetype'),
//            url(font-path('fontawesome-webfont.svg#fontawesomeregular')) format('svg');
//     font-weight: normal;
//     font-style: normal;
//     }

@font-face {
    font-family: "CentraNo2-Book";
    src: url("/assets/CentraNo2-Book");
}

@font-face {
    font-family: "Laila-Bold";
    src: url("/assets/Laila-Bold");
}

@font-face {
    font-family: "Bulletto-Killa";
    src: url("/assets/Bulletto Killa");
}

@font-face {
    font-family: "Nunito-ExtraBold";
    src: url("/assets/Nunito/Nunito-ExtraBold.ttf");
}
@font-face {
    font-family: "Nunito-Bold";
    src: url("/assets/Nunito/Nunito-Bold.ttf");
}
@font-face {
    font-family: "Nunito-SemiBold";
    src: url("/assets/Nunito/Nunito-SemiBold.ttf");
}
@font-face {
    font-family: "Nunito-Regular";
    src: url("/assets/Nunito/Nunito-Regular.ttf");
}
@font-face {
    font-family: "Nunito-Italic";
    src: url("/assets/Nunito/Nunito-Italic.ttf");
}

html {
   height: 100%;
}

body {
    min-height: 100%;
    margin-bottom: 100px;
    clear: both;
	position:relative;
    font-family: "Nunito-Regular";
    font-size:17px;
    // letter-spacing:.03rem !important;
	color:#484848!important;
 }

 .heading-extra{
    font-family: Nunito-ExtraBold !important; 
    font-size:24px !important;
    letter-spacing:.03rem !important;
	height:100%;
 }

 .heading{
    font-family: Nunito-Bold !important; 
    font-size:22px !important;
    letter-spacing:.03rem !important;
	color:#808080!important;
 }

 .heading-semibold{
    font-family: Nunito-SemiBold !important; 
    font-size:22px !important;
    letter-spacing:.03rem !important;
 }

 .card-heading{
    font-family: Nunito-SemiBold !important; 
    font-size:20px !important;
    letter-spacing:.03rem !important;    
 }

// .table-heading{
//    font-family: Nunito-SemiBold !important;
//    font-size:18px !important;
//    letter-spacing:.03rem !important;
//	color: #FFF!important;
// }

/* Updated on 12/20/2020 to change the header/navbar color to white and button to orange */
.table-heading{
   font-family: Nunito-SemiBold !important; 
   font-size:18px !important;
   letter-spacing:.03rem !important;
   //background-color: #FFFFF0!important;
}

.table .thead-light th {
  color: #484848;
  background-color: #DCDCDC;
  border-color: #D3D3D3;
}

 .sub-heading{
    font-family: Nunito-SemiBold !important; 
    font-size:18px !important;
    letter-spacing:.03rem !important;
 }

 .label-text{
    font-family: Nunito-SemiBold !important; 
    font-size: 18px !important;
    letter-spacing:.02rem !important;
	color:#484848!important;
 }

 .content-text{
    font-family: Nunito-SemiBold !important; 
    font-size: 16px !important;
    letter-spacing:.02rem !important;
 }

 .text-14-italic{
    font-family: Nunito-Italic !important; 
    font-size:18px !important;
 }

 //input, textarea, select { font-size: 16px !important;  }
 /* Updated on 12/20/2020 to change the header/navbar color to white and button to orange */
 input, textarea, select { font-size: 16px !important; background-color:#FFFFF0!important;  }

 .form-control[readonly] {
    background-color: #FFF;
    color: #bbb !important;
}

.form-control[disabled] {
    background-color: #FFF;
    color: #bbb !important;
}

// CSS to remove the blue glow in the form inputs and buttons
input[type="text"], textarea, select {
    outline: none;
    box-shadow:none !important;
    border:1px solid #ccc !important;
    }
.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
}

//Navbar Dropdown
.dropdown-menu {
    min-width: 150px;
    padding: 15px 5px 5px 5px !important;
}

.nav-active {
    border-bottom: 3px solid #484848 !important;
}

.studio-menu, .skill-menu, .analytics-menu, .logout-menu{
    margin-top:-2px !important;
}

.pointer{
    cursor: pointer;
}

/* Tooltip CSS starts here */

.tooltip-inner {
  background-color:#f7882f!important;
  /*!important is not necessary if you place custom.css at the end of your css calls. For the purpose of this demo, it seems to be required in SO snippet*/
  color: #000;
}
.tooltip.top .tooltip-arrow {
  border-top-color: #f7882f!important;
}

.tooltip.right .tooltip-arrow {
  border-right-color: #f7882f!important;
}

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #f7882f!important;
}

.tooltip.left .tooltip-arrow {
  border-left-color: #f7882f!important;
}

/* Tooltip CSS ends here */

// Bootstrap overridden
.btn-primary {
	background-color: #f7882f!important;
	border-color: #f7882f !important;
}


.btn-outline-primary, .btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:visited {
    background-color: #9dd5f9 !important;
    color: #043757;
    border-color: #9dd5f9 !important;
    padding: 6px 8px 6px 8px !important;
    font-size:18px !important;
	font-weight:bold !important;
    letter-spacing:.03rem !important;
	cursor: pointer;
}

.btn-outline-primary:disabled {
    background-color: #D3D3D3 !important;
    color: #696969 !important;
    border-color: #A9A9A9 !important;
    padding: 8px 6px 8px 6px !important;
}

.btn-purple {
    color: #fff;
    background-color: #484848;
    border-color: #484848;
}

.tooltip{
    font-size: 12px;
 }

 .border-purple {
    border-bottom: 2px solid #484848 !important;
}

.dropdown-item {
    background-color: transparent !important;
}

.row { margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0;}

//Bootstrap Card Height and effects
//.card {max-height:390px;overflow:auto;}
.inner{
    //overflow: hidden;
}

// Card Zoom Effects
// .inner img{
//     transition: all 1.5s ease;
// }
 
// .inner:hover img{
//     transform: scale(1.5);
// }

// Bootstrap Navbar toggle override
.navbar-toggle {
    border-color: #333;
}

.navbar-toggle {
    margin: 13px 15px 13px 0;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    border-radius: 4px;
}

.navbar-dark .navbar-nav .nav-link {
    #color: #f7882f!important;
}

.footer-menu {
	 text-decoration: none!important;
	 font-size: 15px!important;
	 padding-left:15px;
}


#page-container {
  position: relative;
  //min-height: 100vh;
  padding-top:30px;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1.0rem;            /* Footer height */
}



.dropbtn {
  //background-color: #3498DB;
  color: white;
  //padding: 16px;
  font-size: 16px;
  border: none;
}

.dropup {
  position: relative;
  display: inline-block;
}

.dropup-content {
  display: none;
  position: relative;
  background-color: #adddfc;
  min-width: 210px;
  bottom: 50px;
  z-index: -1;
}

.dropdown-menu a {
  color: black;
  padding: 6px 8px;
  text-decoration: none;
  display: block;
  bottom: 50px;
}

.dropdown-menu a:hover {background-color: #adddfc}

.dropup:hover .dropdown-menu {
  display: block;
}

.dropup:hover {
  background-color: #2980B9;
}
