/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap";
 @import "toastr";
 @import "font-awesome-sprockets";
 @import "font-awesome";
 
 /* add custom stylesheets here*/
@import "login";
@import "speeches";
@import "dashboard";


// @font-face {
//      FontAwesome';
//     src: url(font-path('fontawesome-webfont.eot'));
//     src: url(font-path('fontawesome-webfont.eot?#iefix')) format('embedded-opentype'),
//            url(font-path('fontawesome-webfont.woff')) format('woff'),
//            url(font-path('fontawesome-webfont.ttf')) format('truetype'),
//            url(font-path('fontawesome-webfont.svg#fontawesomeregular')) format('svg');
//     font-weight: normal;
//     font-style: normal;
//     }

@font-face {
    font-family: "CentraNo2-Book";
    src: url("/assets/CentraNo2-Book");
    // font-family: "Bulletto-Killa";
    // src: url("/assets/Bulletto Killa");

}

@font-face {
    font-family: "Laila-Bold";
    src: url("/assets/Laila-Bold");
}

body {
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
    font-family: "CentraNo2-Book";
    font-size:22px;
    font-style: normal;
    font-weight: normal;
    //letter-spacing:.05rem;
 }

 input, textarea, select { font-size: 18px !important; }

 .form-control[readonly] {
    background-color: #FFF;
    color: #bbb !important;
}

.form-control[disabled] {
    background-color: #FFF;
    color: #bbb !important;
}

// CSS to remove the blue glow in the form inputs and buttons
input[type="text"], textarea, select, button {
    outline: none;
    box-shadow:none !important;
    border:1px solid #ccc !important;
    }
.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
}
