@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);


// body{
//     margin: 0;
//     font-size: .9rem;
//     font-weight: 400;
//     line-height: 1.6;
//     text-align: left;
// }

.toast-top-center {
    top: 12px;
    margin: 0 auto;
    }


.text-bold
{
    font-weight: bold;
}

.tetext-white
{
    color: #FFF;
}

.text-black
{
    color: #043757;
}

.navbar 
{
    //background-color: #ab61f0;
    //background-color: #1DA1F2;
	//background-color: #adddfc;
	//background-color: #f96015; //orange
	//background-color: #f7882f!important;
	background-color: #FFFFF0!important;
	
}
.card-header
{
    //background-color: #d3b2df;
    //background-color: ab61f0
    //background-color: #1DA1F2!important;
	//background-color: #adddfc!important;
//	background-color: #f96015!important;
	//background-color: #f7882f!important;
	//background-color: #FFF!important;
	/* Updated on 12/20/2020 to change the header/navbar color to white and button to orange */
	background-color: #DCDCDC !important;
	border-color: #D3D3D3;
	color:#484848;
    font-size:20px;
}

/* Updated on 12/20/2020 to change the header/navbar color to white and button to orange */
.navbar-laravel
{
    //box-shadow: 0 2px 4px rgba(0,0,0,.04);
}
.navbar-brand , .nav-link
{
    color: #f7882f!important;
}

.nav-active {
	color: #f7882f!important;
}

.navbar .nav-link {
    padding-left: 18px !important;
    padding-right: 18px !important;
	color: #f7882f!important;
	
}

.navbar-brand , .nav-link, .my-form, .login-form
{
    //font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.my-form
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.my-form .row
{
    margin-left: 0;
    margin-right: 0;
}

.login-form
{
    padding-top: 60px;
    padding-bottom: 1.5rem;
}

.login-form .row
{
    margin-left: 0;
    margin-right: 0;
}


.fa-google {
    background-color: #fff;
    color: #df4b37;
    padding: 10px 5px;
    font-size: 24px!important;
}

.fa-facebook {
    background-color: #fff;
    color: #3b5998;
    padding: 10px 5px;
    font-size: 24px!important;
}

.google {
    background-color: #df4b37;
    color: #fff;
    padding: 3px 0px 3px 3px;
    border-radius: 2px;
    cursor: pointer
}

.fb {
    background-color: #3b5998;
    color: #fff;
    padding: 3px 0px 3px 3px;
    border-radius: 2px;
    cursor: pointer
}

.line {
    height: 1px;
    width: 45%;
    background-color: #E0E0E0;
    margin-top: 10px
}

.or {
    width: 10%
}

.bg {
	background-image: url('voice-devices-wo-bg.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	opacity: 0.2;
}

//.bg_login {
//
//    background-size: cover;
//    background-position: 50% 50%;
//    background-image: url('bg-light-blue.jpg');
//    background-repeat:repeat;
//  }


