// Place all the styles related to the speeches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.column {
    float: left;
    width: 50%;
    padding: 45px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .form-group {
    margin-right: 15px;
}

.speech-disabled {
  background-color: #e9ecef;
}


//Added by Jude on 25/02/2020 - styles to hide long text after 2nd line
.content {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  margin: 0 auto;
  -webkit-line-clamp: 2;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
  overflow: hidden;
  text-overflow: ellipsis;
}


.accordion-toggle:after {
  font-family: 'Verdana';
  content: "\f078";    
  float: right;
}
.accordion-opened .accordion-toggle:after {    
  content: "\f054";    
}

.h-50{
  height: 50px;
}
.h-100{
  height: 100px;
}

.red
{
    border-color:red !important;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	border-bottom: 4px solid #1a212b;
	border-radius: 0;
  } 
  

  .form-control::-webkit-input-placeholder {
    color: #bbb;
  }

  .required::-webkit-input-placeholder {
    color: rgb(255, 158, 158);
  }
  //   input[required], select[required] {
  //     background-image: url('/assets/icon-asterisk.png');
  //     background-repeat: no-repeat;
  //     background-position-x: right;
  //     content: "*";
  //   color: rgb(248, 104, 104);
  // }

  .shadow { 
    color: white; 
    //font: bold 24px Buffalo;
    text-shadow: 1px 1px 2px #000;

    // text-shadow: 1px 1px #fe4902, 
    //              2px 2px #fe4902, 
    //              3px 3px #fe4902;
    // -webkit-transition: all 0.12s ease-out;
    // -moz-transition:    all 0.12s ease-out;
    // -ms-transition:     all 0.12s ease-out;
    // -o-transition:      all 0.12s ease-out;
 }