// Place all the styles related to the speeches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.column {
    float: left;
    width: 50%;
    padding: 45px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .form-group {
    margin-right: 15px;
}

.speech-disabled {
  background-color: #e9ecef;
}


//Added by Jude on 25/02/2020 - styles to hide long text after 2nd line
.content {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  margin: 0 auto;
  -webkit-line-clamp: 2;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
  overflow: hidden;
  text-overflow: ellipsis;
}
