<p><h1>Thanks for signing up!</h1></p>
<p>Hello!</p>

    <p> Thanks for your interest in Voice Reader. We are a small team of voice experience designers and developers. We firmly believe in the power and vision of VoiceFirst technology and have develop Voice Reader with that in mind only. </p>
    <p></p>
    <p>You can confirm your account email through the link below:</p>
    <p></p>
	<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
	<p></p>
    <p> We can't wait to hear your ideas and thoughts about how you envision using Voice Reader in your business, processes and company. Please reply to this email with questions, comments, ideas - we read and discuss each email. </p>
    <p>--</p>
    <p>Voice Reader Support Team</p>