<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="font-family:verdana; font-size:14px;">
    <%#= image_tag('mailer-header-image.png', :size=>"400*50") %>
    <p><h1>Thanks for signing up!</h1></p>
    <p>Hello <%= @reciever_fname %>,</p>
    <p> We are happy to have you as a early adopter of our skill. We will send you the login details to access our portal shortly. Once you got the login details, you can create new campaigns and articles belongs to that. </p>
    <p> Once you create a campaign, you can have multiple articles belongs to that campaign.</p>
    <p> Campaigns can have an unique access code. You can share this access code to your audiance/subscribers to access the content from skill. </p>
    <p> At the very first time of invocation, our skill will be prompted for the access code, and then they will be able to listen to the latest two articles. </p>
    <p> Thanks again for registering, if you have any questions or comments, feel free to drop an email to <a href="mailto:hello@launchvoicereader.com">hello@launchvoicereader.com</a>.</p>
    <p> Regards,</p>
    <p>LaunchVoiceReader Admin</p>
  </body>
</html>