<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="font-family:verdana; font-size:14px;">
    <%#= image_tag('mailer-header-image.png', :size=>"400*50") %>
    <p><h1>Thanks for signing up!</h1></p>
    <p>Hello <%= @reciever_fname %>,</p>
    <p> Thanks for your interest in the Launch Voice Reader (LVR) service. We are a small team of voice experience designers and developers. We firmly believe in the power and vision of VoiceFirst technology and are developing LVR with that in mind only. </p>
    <p></p>
    <p>Thanks for registering early access. To confirm your registration click the URL below.</p>
    <p></p>
	<%= link_to "#{new_user_registration_url}/#{SecureRandom.urlsafe_base64.to_s}/?email=#{@reciever_email}", "#{new_user_registration_url}?email=#{@reciever_email}", style:"text-decoration:underline;"  %>
	<p></p>
    <p> We can't wait to hear your ideas and thoughts about how you envision using LVR in your business, processes and company. Please reply to this email with questions, comments, ideas - we read and discuss each email. </p>
    <p> You will hear from us very soon with more information.</p>
    <p>--</p>
    <p>Support Team</p>
  </body>
</html>